
<!-- Navbar -->
<app-header [(title)]="title"></app-header>

<!-- Spacing between navbar and main content -->
<div class="mt-4"></div>

<!-- Login Page -->
<div class="container" [hidden]="client.id!=0">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <app-login (loginEventEmitter)='loginUser($event)'></app-login>
    </div>
  </div>
</div>

<!-- User Dashboard -->
<div class="container" [hidden]="client.id==0">
  <h1> User Dashboard </h1>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4"></div>
  </div>
</div>
