<div class="container" id="SignupContainer">
  <form class="card" id="Signup">
    <h4 class="card-title"> Create a new account </h4>
    <div class="card-body">
      <div class="form-group">
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </div> 
  </form>
</div>