<div class="container" id="HomeComponent">
  <div class="row">
    <div class="col-sm-8">
      <div class="card" style="min-height: 1000px"></div>
    </div>
    <div class="col-sm-4">
      <div class="card p-4" id="LoginBox">
        <h4 class="card-title"> Login </h4>
        <form class="card-body" id="Signup">
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>